  <a href="/questions/new"><button class='new-q-button'>Submit a New Question</button></a>
  <div class="user_page questions">
  <span class="q-title"><%= @question.title %></span>
  <span class="q-content"><%= @question.content %></span>

  <form method='post' action=':id/answers'>
    <p>Your Answer:</p>
    <textarea class="textarea-content" name='answer[content]'></textarea>
    <input class='button' type='submit' value='Submit Answer'>
  </form>


