<ul>
  <% if @user %>
    <% unless @user.errors.empty? %>
      <% @user.errors.full_messages.each do |msg| %>
      <li class='error_msg'><%= msg %></li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<ul>
  <% if @errors %>
    <li class='error_msg'><%= @errors %></li>
  <% end %>
</ul>
<div class='padding-bottom-30 width-500 centered margin-top-100 outline-blue-1'>
<div>
  <h1>User Login</h1>
</div>
  <hr>
  <br>
  <form class='centered' method='post' action='/users/login'>
    <p>Email:</p>
    <input autofocus type='text' name='user[email]'>
    <p>Password:</p>
    <input type='password' name='user[password]'>
    <br><br>
    <input class='button' type='submit' value='Log In'>
  </form>
</div>
