
<div class='padding-bottom-30 width-500 centered margin-top-100 outline-blue-1'>
  <div>
    <h1>User Login</h1>
  </div>
  <hr>
  <br>
  <% if @error %>
    <li class='error-msg'><%= @error %></li>
  <% end %>
  <form class='centered' method='post' action='/users/login'>
    <p>Email:</p>
    <input autofocus type='text' name='user[email]'>
    <p>Password:</p>
    <input type='password' name='user[password]'>
    <br><br>
    <input class='button' type='submit' value='Log In'>
  </form>
</div>
