<div class="container">
  <a href="/questions/new"><button class='new-q-button'>Submit a New Question</button></a>
  <div class="user_page questions">
	  <h1>Questions you've asked:</h1>
    <%if @user.questions.any? %>
      <% @user.questions.each do |question| %>
        <a href="/questions/<%= question.id %>""><span class="q-title"><%= question.title %></span></a>
        <span class="q-content"><%= question.content %></span>
      </div>
      <% end %>
    <% end %>
	</div>
</div>
